fastapi/__pycache__
fastapi/app/__pycache__
fastapi/submodules/__pycache__
sveltekit/.svelte-kit
sveltekit/node_modules
azure-devops-pipeline.yml
docker-pipeline.yml
fastapi/.env
fastapi/app/.env
data/
*.pyc
